@model IEnumerable<SweetsCompleteApp.product>

@{
    ViewBag.Title = "Products";
}

<h2>Our Products</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
    <!--<tr>
        <th>
            @Html.DisplayNameFor(model => model.sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.special)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th></th>
    </tr>-->
<div class="container">
    <ul style="list-style-type: none; width:80%; margin-left: 20%;">


@foreach (var item in Model)
{

    <li style="display: inline-block;">
        <div class="container" style="width: 300px">
            <img src="/Content/Images/@(item.link).scale_20.jpg" width="190" height="130" />
            <p>
                @Html.DisplayFor(modelItem => item.title)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.price)
            </p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.product_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
            </p>
        </div>
    </li>
}

    </ul>
</div>

    

