@using PagedList.Mvc;
@using PagedList;
@model IPagedList<SweetsCompleteApp.fixed_purchases>

@{
    ViewBag.Title = "Past Purchases";
}

<h2>Past Purchases</h2>

<form role="form">
    <ul style="list-style-type: none;">
        <li style="display: inline-block;">
            <div class="radio col-sm-3">
                <h4>Filter By Date</h4>
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @{
                            var userID = Request.Cookies["userID"].Value.ToString();
                            int userIDToInt = Convert.ToInt32(userID);
                        }
                        <li><a href="@Url.Action("PastPurchases", "Products", new { userID = userIDToInt, filter = "SortByRecent"  })"><i>Most Recent</i></i></a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("PastPurchases", "Products", new { userID = userIDToInt, filter = "OppSortByRecent" })"><i class=" icon-trash"></i>Least Recent</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</form>

<table class="table">
    <tr>
        <th>
            Transaction ID
        </th>
        <th>
            Date
        </th>
        <th>
            Quantity
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Member Name
        </th>
        <th>
            SKU
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trans_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product.sku)
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("PastPurchases", new { page }))