@using Microsoft.AspNet.Identity
@if (Request.Cookies["user"] != null)
{

    <ul class="nav navbar-nav navbar-right">
        <div class='btn-group pull-right right-nav'>
            <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown" style="margin-top: 7px;">
                <span class="caret"></span>
                <span clas="sr-only">@Request.Cookies["user"].Value.ToString() </span>
            </button>
            <ul class="dropdown-menu" role="menu">
                @{
                    var userID = Request.Cookies["userID"].Value.ToString();
                    int userIDToInt = Convert.ToInt32(userID);
                }
                <li> <a href="@Url.Action("PastPurchases", "Products",  new { userID = userIDToInt })"> Past Orders </a></li>
            </ul>
        </div>
        <li>@Html.ActionLink("Shopping Cart", "Index", "Members")</li>
        <li>
            @{
                 string user = Request.Cookies["user"].Value.ToString();
            }
            @Html.ActionLink("Manage Profile", "ManageUser", "Members", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Shopping Cart", "ShoppingCart", "Account")</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
