@using PagedList.Mvc;
@using PagedList;
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@model IPagedList<SweetsCompleteApp.product>
@{
    ViewBag.Title = "ShoppingCart";
    List<decimal> totalPrices = new List<decimal>();
    decimal real_subtotal = new decimal();
    double real_shipping = new double();
    decimal real_total = new decimal();
}

<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="Content/custom.css" />		

<h2>ShoppingCart</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                        
                   @if (Session != null && Session["myIds"] != null)
                   {
                       
                       
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/Content/Images_fixed/@(item.link).scale_20.jpg" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">@Html.DisplayFor(modelItem => item.title)</a></h4>
                                        <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                        <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center;">
                                @{
                                    var id = item.product_id + "-qty";
                                }
                                @if (Request.Cookies[id] != null)
                                {
                                    var qtyNum = Request.Cookies[id].Value;
                                    <input type="email" class="form-control quantityInput" id="@id" value="@qtyNum">
                                }
                                else
                                { <input type="email" class="form-control quantityInput" id="@id" value="1">}
                            </td>
                            @{
                                var price = item.price;
                            }

                            <td class="col-sm-1 col-md-1 text-center"><strong>@Html.DisplayFor(modelItem => item.price)</strong></td>
                            @if (Request.Cookies[item.product_id + "-qty"] != null)
                            {
                                var cookieString = item.product_id + "-qty";
                                var t = Request.Cookies[item.product_id + "-qty"].Value;
                                if (t != null)
                                {
                                    try
                                    {
                                        var val = Convert.ToInt32(Request.Cookies[item.product_id + "-qty"].Value);
                                        var final = val*item.price;
                                        totalPrices.Add(final);
                                        <td class="col-sm-1 col-md-1 text-center" id="total_sale"><strong>@final</strong></td>
                                        <td>
                                            <button type="button" class="btn btn-info target" id="@item.product_id">
                                                Refresh Item
                                            </button>
                                        </td>
                                    }
                                    catch
                                    {
                                        Console.WriteLine( "debug");
                                    }

                                }

                            }
                            else
                            {
                                var final = item.price;
                                totalPrices.Add(final);
                                <td class="col-sm-1 col-md-1 text-center" id="total_sale"><strong>@item.price</strong></td>
                                <td>
                                    <button type="button" class="btn btn-info target" id="@item.product_id">
                                        Refresh Item
                                    </button>
                                </td>
                            }


                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>


                    }
                   }

                   else
                   {
                       <tr>

                       </tr>
                       if (Request.Cookies["qty"] != null)
                       {
                           var t = Request.Cookies["qty"].Value;
                           
                           if (t != null)
                           {
                               HttpCookie myCookie = new HttpCookie("qty");
                               myCookie.Expires = DateTime.Now.AddDays(-1d);
                               Response.Cookies.Add(myCookie);
                               Session.Clear();
                               Request.Cookies.Remove("qty");
                           }



                       }
                   }


                @{
                    real_subtotal = 0;
                    real_shipping = 0;
                        if (totalPrices.Count != 0)
                        {
                            
                            foreach (decimal idx in totalPrices)
                            {
                                Console.WriteLine(idx);
                                real_subtotal += idx;
                            }

                            if (real_subtotal < 10)
                            {
                                real_shipping = 4.56;
                            } else if (real_subtotal >= 10 && real_subtotal < 30)
                            {
                                real_shipping = 6.32;
                            } else if (real_subtotal >= 31 && real_subtotal < 50)
                            {
                                real_shipping = 8.16;
                            } else if (real_subtotal >= 51 && real_subtotal < 70)
                            {
                                real_shipping = 10.13;
                            } else if (real_subtotal >= 71 && real_subtotal < 100)
                            {
                                real_shipping = 13.59;
                            } else if (real_subtotal >= 101)
                            {
                                real_shipping = 15.93;
                            }

                            real_total = Convert.ToDecimal(real_shipping) + real_subtotal;
                        }
                    }
                <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$@real_subtotal</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$@real_shipping</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$@real_total</strong></h3></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                        <td>

</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<script type="text/javascript">
    

    $(".target").click(function (event) {
        //works
        //alert(event.target.id);
        var quantityID = event.target.id;
        //works
        //alert(quantityID);
        var quantityValue = $("#" + quantityID + "-qty").val();
        //works
        //alert(quantityValue);
        var cookieString = quantityID + "-qty";
        setCookie(cookieString, quantityValue);
        location.reload();

        


        function setCookie(key, value) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();;
        }
    });
</script>





<script>
    
</script>

